<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <div class="columns is-multiline is-centered">
                    <div class="column is-full">
                        <figure class="image ">
                            <img class="is-rounded" src="http://via.placeholder.com/128x128">
                        </figure>
                    </div>
                    <div class="columns is-mobile is-centered">
                        <div class="column is-narrow">
                            <!--onclick="onClickOpenResume(site.contactInfo.resumePath)"-->
                            <button class="resumeBttn button is-medium is-info is-rounded"> 
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-file-arrow-down"></i>
                                </span>
                                <span>Resume.pdf</span>
                            </button>
                        </div>
                        <div class="column is-narrow">
                            <!--onclick="onClickSendEmail(site.contactInfo.contactEmail)"-->
                            <button class="emailBttn button is-medium is-info is-rounded">
                                <span class="icon is-medium">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <span>Email</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    
                    {% for paragraph in site.data.about.paragraphs %}
                    <p>{{paragraph}}</p>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const buttonResume = document.querySelector('.resumeBttn');
    buttonResume.addEventListener('click', onClickOpenResume);
    function onClickOpenResume(){
        window.open("{{site.contactInfo.resumePath}}", '_blank').focus();
    }

    const buttonEmail = document.querySelector('.emailBttn');
    buttonEmail.addEventListener('click', onClickSendEmail);
    function onClickSendEmail(){
        window.location = `mailto:{{site.contactInfo.contactEmail}}`;
    }
</script>